<% #Basic felhantering med rätt och felmeddelande styling. %>
<% content_for :message do %>
  <% if flash[:notice] %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>  
    <% content_for :alertClass do%>
      alert alert-success
    <% end %>
  <% end %>
  
  <% if flash[:error] %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:error] %>  
    <% content_for :alertClass do%>
      alert alert-error
    <% end %>  
  <% end %>
<% end %>

<% @page_title = "UserAuth | Login" -%>
<div class= "row">
  <h1>Log in</h1>
  <%= form_tag(:action => "login_attempt") do %>
    <p>Email:</br> <%= text_field_tag(:email) %></p> 
    <p>Password:</br> <%= password_field_tag :password %></p> 
    <%= submit_tag("Log In") %>
  <% end %>
</div>