<% content_for :menu do %>
  <li><a href="/home">Home</a></li>
  <li class="active"><a href="/projects">All projects</a></li>
  <li><a href="/projects/new">New project</a></li>
  <li><a href="/users">Users</a></li>
<% end %>

<div class="row">
  <div class="span12 gradientGray">
    <h1>All tickets for <%= @project.name%></h1>
    <% if @tickets.count > 0 %>
      <% @tickets.each_with_index do |ticket, index|%>
        <% if index%3 == 0 %>
            <div class="row">
        <% end %>
        <div class="span4 projectDiv">
          <h3><%= link_to ticket.name, ticket_path(ticket) %></h3>
          <% cssClass = Status.find(ticket.status.id).status_name.downcase.gsub(/ /, '-') %>
          <p class="<%= cssClass %>"><%= status = Status.find(ticket.status.id).status_name %> </p>
          <p class="description"> 
            <% first_30_words = ticket.description.split(" ").first(30).join(" ") %>
              <%= first_30_words%>
              <%= link_to "[...]", ticket_path(ticket)%>
            </p>
        </div>
         <% if index%3 == 2%>
            </div>
        <% end %>  
      <% end %>
    <% else %>
        <p>No tickets found...lazy co-workers? </p>
      <% end %>
  </div>
</div>