<% content_for :menu do %>
  <li><a href="/home">Home</a></li>
  <li><a href="/projects">All projects</a></li>
  <li><a href="/projects/new">New project</a></li>
<% end %>

<div class="row">
  <div class="span12 gradientGray">
    <h1>Ticket created by <%= @user.first_name + " " +@user.last_name%></h1>
    <h3><%= @ticket.name %> </h3>
    <p> <%= @ticket.description %></p>
    <% cssClass = @status.status_name.gsub(/ /, '-').downcase %>
    <p>Status:  <span class="<%= cssClass %>"><%= @status.status_name %></span></p>
  </div>
</div>
  <div class="row">
    <div class="span12">
    <ul class="inline">
    <li><%= link_to "Back to project", {:controller => "projects", :action => "show", :id => @project.id}, :class => "btn btn-info" %></li>
    <% if @ticket.user_id == session[:user_id] || session[:user_id] == @project.user_id %>
      <% if session[:user_id] == @ticket.user_id || session[:user_id] == Project.find(@ticket.project_id).user_id %>
        <li><%= button_to "Delete ticket", {:controller => "tickets", :action => 'destroy', :id => @ticket.id}, :method => :delete, :class => "btn btn-danger" %></li>
        <li><%= link_to "Edit ticket", "/projects/" + @ticket.project_id.to_s + "/tickets/" + @ticket.id.to_s + "/edit", :class => "btn btn-warning" %></li>
      <% end %>
    <% end %>
    </ul>
    </div>
  </div>