<% if @ticket.errors.any? %>
    
  <div id="error_messages">
    <h4 class="">You have <%= pluralize(@ticket.errors.count, "error") %> in the form.</h2>
      <ul>
        <% @ticket.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
  </div>    
<% end %>

<%= form_for @ticket do |f| %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>
    
    <%= f.label :status_id %>
    <%= f.select :status_id, options_from_collection_for_select(Status.all, :id, :status_name) %>
    <%= f.hidden_field :project_id, :value => params[:id] %>
    <%= f.submit "Add ticket" %>
  </fieldset>
<% end %>
