<%= form_for @project do |f| %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_area :description, :size => "30x5" %>

    <%= f.label :start_date %>
    <span class="dateInput"><%= f.date_select :start_date %></span>

    <%= f.label :end_date %>
    <span class="dateInput"><%= f.date_select :end_date %></span>

    <%= f.submit "Save" ,:class => 'btn btn-success' %>
  </fieldset>
      <% end %>