<!DOCTYPE html>
<html>
<head>
  <title>RubyLabb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style>
  <link href="/assets/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/assets/application.css" rel="stylesheet" type="text/css">
  <%= yield :head %>
</head>
<body> 
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/home">AMPMS</a>
          <div class="nav-collapse collapse">
            <ul id="mainMenu" class="nav">
              <%= yield :menu%>
              <% if session[:user_id] %>
                <li>
                  <form action="/logout" method="get" class="form-inline">
                    <button type="submit" class="btn btn-danger">Log out</button>
                  </form>
                </li>
                <li>
                   <%= link_to "Hello " + session[:user_first_name], user_path(session[:user_id]) %>
                </li>
                <% else %>
                <li class="white navMargin">Not logged in</li>
              <% end %>

            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Search">
              <button type="submit" class="btn">Search</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
<div id="messageDiv" class="<%= yield :alertClass %>">
  <%= yield :message %>
</div>

<div class="container">

  <%= yield %>

  <hr>

  <footer>
    <p>&copy; Company 2012</p>
  </footer>

</div> <!-- /container -->       
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/assets/bootstrap-transition.js"></script>
    <script src="/assets/bootstrap-alert.js"></script>
    <script src="/assets/bootstrap-modal.js"></script>
    <script src="/assets/bootstrap-dropdown.js"></script>
    <script src="/assets/bootstrap-scrollspy.js"></script>
    <script src="/assets/bootstrap-tab.js"></script>
    <script src="/assets/bootstrap-tooltip.js"></script>
    <script src="/assets/bootstrap-popover.js"></script>
    <script src="/assets/bootstrap-button.js"></script>
    <script src="/assets/bootstrap-collapse.js"></script>
    <script src="/assets/bootstrap-carousel.js"></script>
    <script src="/assets/bootstrap-typeahead.js"></script>
</body>
</html>
